.modalImageContainer {
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}

.modalImageCard {
  width: 100%;
  height: 100%;
}

.dataImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  gap: 8px;
  color: white;
}
